body{
    margin: 0;
}

*{
    color: black;
    margin: 0;
    font-family: 'Sarabun', sans-serif;
}

h1{
    text-align: center;
    margin-left: 20px;
    margin: 0;
    padding: 10px;
}

h2{
    text-align: center;
    margin: 0;
}

#icon{
    width: 20vh;
    position:relative;
    z-index: -1;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%;
    
}

.black * {
    color: black;
}

.white * {
    color: white;
}

.container p{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.gridcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px;
    background-color: black;
}

::selection {
    background: #909090; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #909090; /* Gecko Browsers */
  }